[phases.setup]
nixPkgs = ["nodejs", "go"]

[phases.install]
cmds = [
  "npm install",
  "go mod download"
]

[phases.build]
cmds = [
  "npx tailwindcss -i ./web/static/css/input.css -o ./web/static/css/output.css --minify",
  "go run github.com/a-h/templ/cmd/templ@latest generate",
  "mkdir -p bin",
  "go build -o bin/server ./cmd/server"
]

[start]
cmd = "./bin/server"
