[phases.setup]
nixPkgs = ["nodejs", "go_1_22"]

[phases.install]
cmds = [
  "npm install",
  "go install github.com/a-h/templ/cmd/templ@latest"
]

[phases.build]
cmds = [
  "bash build.sh"
]

[start]
cmd = "./bin/server"
